.PokoCards {
  padding: 10px 10px;
  margin: 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokeDescription {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.display {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15000;

  opacity: 1;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: black;
}

.buttonStyle {
  height: 50px;
  width: 120px;
  margin-top: 200px;
  margin-left: 80px;
  color: dimgrey;
  background-color: aquamarine;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
